// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
tr{
  td{


  }
}
// CSS Logo
.container_logo{

  display: flex;
  justify-content: space-between;
  align-items: baseline;
  .logo{
    max-width: 100px;
    max-height: 100px;
  }
  .logo_btn{
    cursor: pointer;
  }
}

// Button e tasti navigazione
.nav_companies{

  // color: red;
}



// CSS Crete COMPANY
#add_comp_form{

  // display: none;
}


//
#search_comp_mess{
  display: none;
}

// Css tabella risultai emplyee
.results_header_table{

  display: flex;
  justify-content: space-between;
  list-style: none;

  li{
    width: calc(100% / 6);
  }
}
